<h3>About Stock Tracker</h3>

<hr>

<p>Stock tracker lets you track your favorite stocks for highs and lows. You've done the research and you know what you're stocks are worth so there's no need to track them closely. However if prices surge maybe they've reached a roof you've set, or maybe they're undervalued and you should buy more. Stock tracker will help keep you informed on the prices of your assets so you can capitalize on the research you've done.</p>
