<h2>Welcome To Stock Trader</h2>
<p>Follow <%= link_to "this", new_user_path, :class => "link" %> link to make a new account.</p>
    <%= link_to "Sign-Up", new_user_path, method: "get", class: "action" %>
